<div>
  <h2 class="py-3"><%- disp %> <%- __('list') %></h2>

  <list :columns="<%- pname %>_columns" :rows="<%- pname %>" :is_update="<%- is_update %>" :is_delete="<%- is_delete %>" @update="update_item" @delete="delete_item"></list>

  <button type="button" class="btn btn-primary" @click="new_item"><%- __('new') %></button>
</div>
